################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebpConverter/v17
/WebpConverter/bin
/WebpConverter/obj
/WebpConverter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebpConverter/obj/Debug/WebpConverter.csproj.AssemblyReference.cache
