################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebpConverter/v17
/.vs/
/WebpConverter/bin/
/WebpConverter/obj/
/WebpConverter/bin
/WebpConverter/obj
/packages
/WebpConverter/obj/Debug/
/WebpConverter/bin/Debug/
/WebpConverter/obj/Debug
/WebpConverter/bin/Debug
