################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebpConverter/v17
/.vs/
/WebpConverter/bin/
/WebpConverter/obj/
/packages
/WebpConverter/obj/Debug/
/WebpConverter/bin/Debug/WebpConverter.pdb
/WebpConverter/bin/Debug/WebpConverter.exe
